@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&display=swap");

:root {
  --primary: #424874;
  --secondary: #a6b1e1;
  --Tertiary: #dcd6f7;
  --Quaternary: #f4eeff;
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  text-decoration: none;
}

html::-webkit-scrollbar {
  width: 14px;
}

html::-webkit-scrollbar-track {
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: var(--Tertiary);
  border: solid --primary;
  border-radius: 700px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--primary);
  padding: 1rem;
}

.heading span {
  text-transform: uppercase;
  color: var(--primary);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--primary);
  font-weight: bolder;
  font-size: 1.7rem;
  color: var(--primary);
  cursor: pointer;
  background: #fff;
  padding: 0.8rem 3rem;
}

.btn:hover {
  color: #fff;
  background: var(Tertiary);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem var(--Quaternary);
}

header .logo {
  font-size: 2.5rem;
  color: var(--primary);
}

header .navbar a {
  font-size: 1.7rem;
  color: var(--primary);
  margin: 0 1rem;
}

header .navbar a:hover {
  color: var(--Tertiary);
}

header .icons a {
  font-size: 2.5rem;
  color: var(--primary);
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--Tertiary);
}

#menu-bar {
  font-size: 2.5rem;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid var(--primary);
  color: var(--grey);
  border-radius: 0.3rem;
  cursor: pointer;
  display: none;
}

.home {
  padding: 0;
  position: relative;
}

.home #prev,
.home #next {
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--Tertiary);
  border: 0.2rem solid var(--Tertiary);
  cursor: pointer;
  text-align: center;
}

.home #prev:hover,
.home #next:hover {
  color: #fff;
  background: var(--Tertiary);
}

.home #prev {
  left: 3rem;
}

.home #next {
  right: 3rem;
}

.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1.5rem;
  padding: 12rem 9% 0;
}

.slide__content {
  flex: 1 1 40rem;
  flex-basis: 50%;
  padding-left: 2rem;
  animation: slideContent 0.5s linear 1s backwards;
}

.slide:not(:first-of-type) {
  display: none;
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
}

.slide__content span {
  color: var(--primary);
  font-size: 1.6rem;
}

.slide__content h1 {
  font-size: 4rem;
  color: var(--primary);
  margin: 1rem 0;
}

.slide__content p {
  font-size: 1.7rem;
  color: var(--primary);
  padding: 0.5rem 0;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.slide__image {
  flex: 1 1 50%;
  animation: pro 1s linear;
  text-align: center;
}

.slide__image img {
  width: 100%;
  border-radius: 20px;
}

.slide__image {
  flex: 1 1 50rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 0;
}

.image .pro {
  width: 100%;
  animation: shoe 0.3s linear;
  height: auto;
}

@keyframes pro {
  0% {
    transform: scale(0.5);
  }
}

.home {
  padding: 0;
  position: relative;
}

.home .slide-container {
  display: none;
}

.home .slide-container.active {
  display: block;
}

.slide__content p {
  font-size: 1.8rem;
  color: var(--primary);
  line-height: 1.6;
  margin-bottom: 2rem;
}

.service__box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
}

.box-container__box {
  text-align: center;
  flex: 1 1 30rem;
}

.box-container__box i {
  font-size: 4rem;
  color: var(--secondary);
}

.box-container__box h1 {
  font-size: 2rem;
  color: var(--primary);
  padding-top: 1rem;
}

.box-container__box p {
  font-size: 1.5rem;
  color: var(--primary);
  padding: 1rem 0;
}

.products__box-container {
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  justify-content: center;
  gap: 1.5rem;
}

.products__box {
  padding-top: 2rem;
  margin-bottom: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #ffffff;
  flex: 1 1 30rem;
}

.products__content {
  border-radius: 20px;
  padding: 1.5rem;
}

.products__box img {
  border-radius: 20px;
  padding: auto;
  margin-top: 2rem;
  /* padding-top: 5rem; */
  max-width: 70%;
  box-sizing: border-box;
  /* height: 10rem; */
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.1));
  margin: auto;
  background-color: #fff;
}

.products__box:hover img {
  border-radius: 20px;
  transform: scale(1.1);
}

.products__icons {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0.5rem;
  left: -10rem;
}

.products__box:hover .icons {
  left: 1rem;
}

.products__icons a {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  color: var(--primary);
  border: 0.1rem solid var(--primary);
  border-radius: 0.5rem;
  background: #fff;
  margin-top: 0.5rem;
}

.products__icons a:hover {
  background: var(--Quaternary);
  color: var(--secondary);
}

.products__content h2 {
  color: var(--primary);
  font-size: 1.5rem;
}

.products__content__price {
  color: var(--primary);
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem 0;
}

.products__content__stars {
  padding-bottom: 1rem;
}

.products__content__stars i {
  font-size: 1.5rem;
  color: var(--secondary);
}

.featured__row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.9rem;
  background: #fff;
  padding: 2rem;
  align-items: center;
  margin: 1.5rem 0;
}

.featured__content {
  flex: 1 1 40rem;
}

.featured__image-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex: 1 1 50rem;
}

.featured__small-image {
  width: 20%;
}

.featured__big-image {
  width: 80%;
  padding: 1rem;
}

.featured__small-image img {
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.featured__small-image img:hover {
  background: #fff;
  transform: scale(1.05);
}

.featured__big-image img {
  border-radius: 10px;
  width: 100%;
}

.featured__big-image img:hover {
  background: #fff;

  transform: scale(1.05);
}

.featured__content h2 {
  font-size: 2.2rem;
  color: var(--primary);
}

.featured__stars i {
  font-size: 1.5rem;
  color: var(--secondary);
  padding: 0.5rem 0;
}

.featured__content p {
  font-size: 1.7rem;
  color: var(--primary);
  padding: 1rem 0;
}

.featured__price {
  font-size: 2rem;
  color: var(--primary);
  font-weight: bolder;
}

.review__box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review__box {
  flex: 1 1 30rem;
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #fff;
  padding: 2rem;
}

.review__box img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem 0;
}

.review__box h2 {
  font-size: 2rem;
  color: var(--primary);
}

.review__box p {
  font-size: 1.5rem;
  color: var(--primary);
  padding: 1rem 0;
}

.review__box-stars i {
  color: var(--primary);
}

.newsletter {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.newsletter__content {
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #fff;
  padding: 2rem;
}

.newsletter__content h2 {
  font-size: 2.5rem;
  color: var(--primary);
}

.newsletter__content p {
  font-size: 1.4rem;
  color: var(--primary);
  margin: 1rem auto;
  max-width: 60rem;
}

.newsletter__content form {
  margin: 1rem auto;
  max-width: 50rem;
  display: flex;
}

.newsletter__box {
  width: 100%;
  font-size: 1.7rem;
  text-transform: none;
  color: var(--secondary);
  padding: 1rem;
  border: 0.2rem solid var(--primary);

  margin-top: 1rem;
  border-radius: 1rem;
}

.newsletter__content .btn {
  margin-left: 1rem;
  border-radius: 1rem;
}

.footer__box-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #fff;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer__box {
  flex: 1 1 20rem;
}

.footer__box h3 {
  color: var(--primary);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer__box a {
  color: var(--primary);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer__box a:hover {
  color: var(--Tertiary);
}

.footer__box-container .credit {
  text-align: center;
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 2rem;
  color: var(--primary);
}

.footer__box-container span {
  font-weight: bolder;
  text-decoration: underline;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 100%;
    background: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  header .navbar.active {
    left: 0;
  }

  header .navbar a {
    font-size: 2rem;
    background: #fff;
    border: 0.1rem solid var(--primary);
    border-radius: 1.2rem;
    padding: 0.8rem;
    margin: 0.8rem;

    display: block;
    text-align: center;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  .slide__image {
    padding-bottom: 6rem;
  }

  .heading {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1536px) {
  .products__box {
    flex-basis: calc((100% - 3 * 1.5rem) / 3);
  }
}
